 <h1>Car</h1>
   <div><ul>
      <li>{{make}}</li>
      {{model}}<br>
      {{year}}<br>
      {{color}} <br>
      <h3>FEATURES</h3>
    <ul> {{#with features}}
     <b>Interior</b>
     <ul>{{#with interior}}<br>
      <span style="border: 1px solid red">Seats</span>
     <ul> {{#with seats}}<br>
      <li>{{material}}</li>
       <li>{{color}}</li>
      <li>{{heated}}</li>
       <li>{{ventilated}}</li>
      {{/with}}</ul> 
      
     <span style="border: 1px solid red">Dashboard</span>
     <ul>  {{#with dashboard}}<br>
      <li>{{material}}</li>
     <li> {{color}}</li></ul> 
      <span style="border: 1px solid red">Display</span>
      <br>
     <ul>  {{#with display}}<br>
      <li>{{type}}</li>
      <li> {{size}}</li>
       <li>{{resolution}}</li>
       <li>{{touchscreen}}</li>
        {{/with}}</ul> 
        {{/with}}
        <span style="border: 1px solid red">Audio</span>
    <ul>  {{#with audio}}<br>
      <li>{{system}}</li><br>
      <li> {{subwoofer}}</li>
      <li> {{bluetooth}}</li>
      <li> {{USB}}</li><br>
       {{/with}}</ul> 
       {{/with}}</ul> 
       {{/with}}

<b>Exterior</b><br>
<ul> {{#with exterior}}
  <i><b>Wheels</b></i><br>
     <ul>{{#with wheels}}<br>
      <li>{{size}}</li>
     <li> {{type}}</li>
     <li> {{color}}</li>
     {{/with}}
    <ul>  {{#with headlights}}<br>
      </li>{{type}}</li><br>
      </li>{{brightness}}</li><br>
     </li> {{automatic}}</li><br>
      {{/with}}</ul> 
      <ul> {{#with sunroof}}<br>
      </li>{{type}}</li><br>
      </li> {{size}}</li>
       </li>{{automatic}}</li><br>
       {{/with}}</ul> 
     {{/with}}</ul> 
     <i><b>Safety</b></i><br>
    <ul>  {{#with safety}}<br>
     <b>Airbags</b><br>
     <ul> {{#with airbags}}<br>
    </li> {{front}}<br>
     </li>  {{side}}<br>
     </li> {{knee}}<br>
      </li> {{rear}}<br>
        {{/with}}</ul> </ul> 
        <b>Аssistance</b><br>
         <ul>   {{#with assistance}}<br>
     </li>{{ blind_spot_monitoring }} <br>
    </li>  {{rear_cross_traffic_alert}}<br>
     </li> {{lane_departure_warning}}<br>
     </li>  {{adaptive_cruise_control}}<br>
      </li> {{collision_warning}}<br>
        {{/with}}</ul> 
 {{/with}}</ul></ul>
<i><b>ENGINE</b></i><br>
   <ul> {{#with engine}}
      {{type}}<br>
      {{displacement}}<br>
      {{horsepower}}<br>
      {{torque}}<br>
  <i><b>Transmission</b></i><br>
    <ul>  {{#with transmission}}
      {{type}}<br>
       {{gears}}<br>
     {{/with}}</ul> 
     {{/with}}</ul> 
     <i><b>Fuel economy</b></i><br>
    <ul>  {{#with fuel_economy}}
      {{city}}<br>
      {{highway}}<br>
      {{combined}}<br>
      {{/with}}</ul> 
   <i><b>Price</b></i><br>
   <ul>  {{#with price}}
    {{base}}<br>
           {{destination}}<br>
            <i><b>Options</b></i><br>
     <ul>  {{#with options}}
        {{navigation}}<br>
        {{moonroof}}<br>
        {{premium_paint}}<br>
      {{/with}}</ul> 
     <span style="color: rgb(158, 47, 19); border: 1px solid green; font-size: 20px"> {{total}}</span> <br>
     {{/with}}</ul>    
       