 <h1>Car</h1>
   <div>
      {{make}}<br>
      {{model}}<br>
      {{year}}<br>
      {{color}}<br>
      <h3>FEATURES</h3>
     {{#with features}}
     <i><b>Interior</b></i>
      {{#with interior}}<br>
      <span style="border: 1px solid red">Seats</span>
      {{#with seats}}<br>
      {{material}}<br>
      {{color}}<br>
      {{heated}}<br>
      {{ventilated}}<br>
      {{/with}}
      
     <span style="border: 1px solid red">Dashboard</span>
      {{#with dashboard}}<br>
      {{material}}<br>
      {{color}}<br>
      <span style="border: 1px solid red">Display</span>
      <br>
      {{#with display}}<br>
      {{type}}<br>
       {{size}}<br>
       {{resolution}}<br>
       {{touchscreen}}<br>
        {{/with}}
        {{/with}}
        <span style="border: 1px solid red">Audio</span>
     {{#with audio}}<br>
      {{system}}<br>
       {{subwoofer}}<br>
       {{bluetooth}}<br>
       {{USB}}<br>
       {{/with}}
       {{/with}}
       {{/with}}

<i><b>Exterior</b></i><br>
{{#with exterior}}
      {{#each wheels}}<br>
      {{size}}<br>
      {{type}}<br>
      {{color}}<br>
      {{/each}}
      {{#each headlights}}<br>
      {{type}}<br>
      {{brightness}}<br>
      {{automatic}}<br>
      {{/each}}
      {{#each sunroof}}<br>
      {{type}}<br>
       {{size}}
       {{automatic}}<br>
       {{/each}}
     {{/with}}
     <i><b>Safety</b></i><br>
     {{#with safety}}<br>
     {{#each airbags}}<br>
     {{front}}<br>
       {{side}}<br>
      {{knee}}<br>
       {{rear}}<br>
        {{/each}}
           {{#each assistance}}<br>
     {{blind_spot_monitoring}}<br>
       {{rear_cross_traffic_alert}}<br>
      {{lane_departure_warning}}<br>
       {{adaptive_cruise_control}}<br>
       {{collision_warning}}<br>
        {{/each}}
 {{/with}}
<i><b>Engine</b></i><br>
   {{#with engine}}
      {{type}}<br>
      {{displacement}}<br>
      {{horsepower}}<br>
      {{torque}}<br>
  <i><b>Transmission</b></i><br>
     {{#each transmission}}{{this}}
      {{type}}<br>
       {{gears}}<br>
     {{/each}}
     {{/with}}
     <i><b>Fuel economy</b></i><br>
     {{#with fuel_economy}}
      {{city}}<br>
      {{highway}}<br>
      {{combined}}<br>
      {{/with}}
   <i><b>Price</b></i><br>
    {{#with price}}
    {{base}}<br>
           {{destination}}<br>
            <i><b>Options</b></i><br>
      {{#with options}}
        {{navigation}}<br>
        {{moonroof}}<br>
        {{premium_paint}}<br>
      {{/with}}
     <span style="color: rgb(158, 47, 19); border: 1px solid green; font-size: 20px"> {{total}}</span> <br>
     {{/with}}
    

     
       