 <h1 style="color:rgb(235, 11, 11)">{{name}}</h1>
  
        <h2  style="color:rgb(255, 102, 0)">Users</h2>
   <ul>{{#each users}}<br>
          {{id}}<br>
          {{name}}<br>
          {{gender}}<br>
          {{age}}<br>
    <h3  style="color:rgb(10, 177, 74)">Friends</h3>
          <ul>{{#each friends}}<br>
              {{id}}<br>
              {{name}}<br>
              {{gender}}<br>
              {{age}}<br>
          <h3  style="color:rgb(143, 190, 14)">Mutual_friends</h3>
          <ul> {{#each mutual_friends}}<br>
                {{id}}<br>
                {{name}}<br>
                {{gender}}<br>
                {{age}}<br>
              <ul> {{#each mutual_friends}}<br>
                    {{id}}<br>
                    {{name}}<br>
                    {{gender}}<br>
                    {{age}}<br>
                  {{/each}}
              </ul>
                {{/each}}
        </ul>
              {{/each}}
            </ul>
    </ul> 
  <ul>
   {{#each groups}}<br>
    {{id}}<br>
    {{name}}<br>
    {{description}}<br>
       <h3  style="color:rgb(10, 177, 74)">Members</h3>
    <ul>{{#each members}}<br>
    {{id}}<br>
    {{name}}<br>
    {{gender}}<br>
    {{age}}<br>
    {{/each}}
   
    <h3  style="color:rgb(143, 190, 14)">Mutual_friends</h3>
    <ul> {{#each mutual_friends}}<br>
     {{id}}<br>
    {{name}}<br>
    {{gender}}<br>
    {{age}}<br>
     
     <ul> {{#each mutual_friends}}<br>
     {{id}}<br>
    {{name}}<br>
    {{gender}}<br>
    {{age}}<br>
    {{/each}}
    </ul>
    {{/each}}
    </ul>
         {{/each}}
         </ul>
     {{/each}}
  </ul>
    
              
               