 <h1 style="color:rgb(58, 6, 245)">JS</h1>
   <div>
      <h3  style="color:rgb(8, 85, 90)">{{name}}</h3>
         <i><strong>{{description}}</strong></i><br>
      </div>  
         <hr>
    <div> 
     <h2 style="color:rgb(68, 15, 212)">History</h2>
         <div class="grid gap-3">{{#with history}}
    <div class="p-2 g-col-6">{{year}}</div>
  <div class="p-2 g-col-6">{{founder}}</div>
 {{/with}}
  </div>
         
     </div>
      <hr>
     
             {{#each types}}
             <ul>
               <li class="p-2 g-col-6">{{this}}</li>
             </ul>
             {{/each}}
                       
          <hr>
          <div>
            {{#with syntax}} 
             {{#each variables}}
             <ul>
               <li>{{this}}</li>
             </ul>
             {{/each}}
             {{#each functions}}
             <ul>
               <li>{{this}}</li>
             {{/each}}
               {{#each conditionals}}
               <li>{{this}}</li>
               {{/each}}
             {{#each loops}}
               <li>{{this}}</li>
             {{/each}}
            {{#each classes}}
               <li>{{this}}</li>
             </ul>
              {{/each}}
            {{/with}}
      </div>
      <hr>
      <div>
         {{#each features}} 
            <ul>
               <li>{{this}}</li>
             </ul>
            {{/each}}
      </div>
         {{#each libraries}} 
           <ul>
               <li>{{this}}</li>
             </ul>
            {{/each}}
          {{#each tools}} <ul>
               <li>{{this}}</li>
             </ul>
            {{/each}}
   <div>{{#each community}}
      <ul> 
           <li> {{name}}</li>
            {{type}} 
            </ul>
         {{/each}}
            </div>
           

      