 <h1 style="color:brown">Mac</h1>

<div class="row gx-3">
         <div class="card mb-2">
        <div class="card-body row">
          <div class="col-2">
            {{name}}<br>
    {{description}}<br>
    {{price}}<br>
    {{category}}<br>
          </div>
          <div class="col-4">
             
    {{#with features}}<br>
    <i><strong>Processor</strong></i><br>
      <ul>{{#with processor}}
        <li>{{brand}}</li>
        <li>{{model}}</li>
        <li>{{speed}}</li>
        <li>{{cores}}</li>
        <li>{{cache}}</li>
        {{/with}}
      </ul>
            <div class="btn text btn-sm">   <i><strong>Memory</strong></i><br>
     <ul>{{#with memory}}
        <li>{{type}}</li>
        <li>{{size}}</li>
        <li>{{speed}}</li>
         {{/with}}
      </ul></div>
          </div>
          <div class="col-2">
            <i><strong>Memory</strong></i><br>
     <ul>{{#with memory}}
        <li>{{type}}</li>
        <li>{{size}}</li>
        <li>{{speed}}</li>
         {{/with}}
      </ul>
          </div>
          <div class="col-2">
            <i><strong>Display</strong></i><br>
      <ul>{{#with display}}
        <li>{{size}}</li>
        <li>{{resolution}}</li>
        <li>{{technology}}</li>
        <li>{{color_space}}</li>
        <li>{{brightness}}</li>
         <li>{{refresh_rate}}</li>
        {{/with}}
      </ul> 
          </div>
          <div class="col-2">
             <i><strong>Graphics</strong></i><br>
     <ul>{{#with graphics}}
        <li>{{brand}}</li>
        <li>{{model}}</li>
        <li>{{memory}}</li>
         {{/with}}
     </ul>
          </div>
          <hr>
              <div class="col-2">
             <i><strong>Ports</strong></i><br>
     {{#each ports}}
        <li>{{type}}</li>
        {{count}}<br>
        {{#with features}}
       <i>{{this}}</i>
        {{/with}}
    {{/each}}
     </ul>
              </div>
    
                      <div class="col-2">
              <i><strong>Battery</strong></i><br>
     <ul>{{#with battery}}
        <li>{{type}}</li>
        <li>{{capacity}}</li>
        <li>{{life}}</li>
          {{/with}}
     </ul>
       {{weight}}<br>
          </div>

            <div class="col-2">
       <i><strong>Dimensions</strong></i><br>
     <ul>{{#with dimensions}}
         <li>{{height}}</li>
         <li>{{width}}</li>
         <li>{{depth}}</li>
         {{/with}}
     </ul>
          </div>
<div class="col-2">
           <i><strong>Operating_system</strong></i><br>
    {{operating_system}}<br>
     <i><strong>Accessories</strong></i><br>
            {{#each accessories}}
           <b style="color: rgb(92, 15, 28)">{{name}}</b><br>
           <i>{{price}}</i><br>
             {{/each}}
              </div>
       {{/with}}
      
      
          </div>
        </div>
      </div>
    

