{{#with excursion}}
 <h1>Program</h1>
   <div>
      {{name}}<br>
     {{#with location}}
       {{city}}<br>
       {{country}}<br>
       {{#if location}}
       {{city}}<br>
       {{country}}<br>
       {{/if}}
     {{/with}}
        {{date}}<br>
    </div>
 <hr>
 {{#each program}}
    {{name}}<br>
      {{type}}<br>
      {{duration}}<br>
{{/each}}
   {{#with details}}
        {{#with museum}}
          {{name}}<br>
          {{#with location}}
            {{address}}<br>
            {{city}}<br>
            {{country}}<br>
          {{/with}}
        {{/with}}
   {{/with}}
          {{#each exhibits}}
            {{name}}<br>
            {{artist}}<br>
            {{description}}<br>
            {{audio_guide}}
          {{/each}}
{{#with guide}}
  {{name}}<br>
  {{language}}<br>
  {{rating}}<br>
{{/with}}
</div>
{{/with}}
