
   {{#with program}}
   <div>
    <h1>Program</h1>
         <div>
            {{#each excursion}}
            {{name}}
            <br> 
             {{#each location}}
             {{city}}<br>
             {{country}}<br>
             {{/each}}
             {{date}}<br>
             {{#each program}}<br>
             {{name}}<br>
             {{type}}<br>
             {{duration}}<br>
             {{/each}}
             {{#each details}}<br>
              {{#each museum}}<br>
             {{name}}<br>
             {{#each location}}<br>
             {{address}}<br>
             {{city}}<br>
             {{country}}<br>
             {{/each}}
             {{#each exhibits}}
             {{name}}<br>
             {{artist}}<br>
             {{description}}<br>
           {{audio_guide}}
            {{/each}}
            {{/each}}
             {{/each}}
         </div>
         <div>
            {{#each guide}}<br>
             {{name}}<br>
             {{language}}<br>
             {{rating}}<br>
             {{/each}}
           
           {{/each}}
           </div>
      {{/with}}
       
   
