{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="row g-2">

  {{#with main}}
    <main class="col-12">
    
      <div class="row">
      <section class="col-6 m-1">
        {{>title data="All skills"}}
        {{>title big=istrue}}


<table class="table table-stiped table-bordered ">
<thead class="text-bg-danger">
  
  <tr>
    <th> Slills    </th>
    <th>Point </th>
     <th>Top </th>
  </tr>
</thead>

<tbody>  {{#each skills}}
  <tr>
  
    <td>{{name}}</td>
    <td>{{#if point includeZero=true}} {{point}} {{/if}}</td>
    <td>{{#if isTop}} (top) {{/if}}
      {{#unless point includeZero=true}} (не вивчаємо) {{/unless}}
             {{#unless point}}
             {{#if point includeZero=true}}
             (вивчаємо)
             {{/if}}
             {{/unless}}</td>
             {{/each}}
  </tr>
</tbody></table>
      </section>
          
      <section class="col-5 m-1">
{{>title data="My hobbies"}}
{{>title big=isfalse}}
<table class="table table-stiped table-bordered ">
<thead class="text-bg-info">
  
  <tr>
    <th> Hobby    </th>
    <th>Favorite </th>
    
  </tr>
</thead>

<tbody>  {{#each hobbies}}
  <tr>
  
    <td>{{name}}</td>
    <td>{{isMain}} 
             {{#if isMain includeZero=true}} (favorite) {{/if}}</td>
    </tr>
             {{/each}}
  
</tbody></table>
            
      </section>
      </div>
      </main>
      {{/with}}
    </div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
